<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <!--começo da pagina-->
    <div class="inicio">
        <input type="text" id="buscar" placeholder="www.personabags.com.br">
        <img id="pc" src="img/pc.png">
        <!--menu canto superior direito da tela-->
        <div class="dropdown">   
            <button id="dropdtn"><img src="img/barra .png"></button>
            <div class="dropdown-conteudo">
                <a href="http://127.0.0.1:5500/aula15/layout/meus%20pedidos.html">Meus pedidos</a>
                <a href="http://127.0.0.1:5500/aula15/layout/carrinho.html">Carrinho</a>
                <a href="#">Minha conta</a>
            </div>
            </div>
            <!--foto da logo e nome-->
    </div>
    
    <div class="title">
        <a href="http://127.0.0.1:5500/aula15/layout/index.html"><img src="img/logo.png"height="100px"></a>
        <a id="PersonaBags" href="http://127.0.0.1:5500/aula15/layout/index.html"><h1><b>Persona Bags</b></h1></a>
    </div>
    <!--text em baixo da logo e do nome-->
        <div id="paragrafo">
        <p>Carregue sua personalidade com você.</p>
        </div>
        <!--links dos outros sites-->
        <div class="link">
        <a href="http://127.0.0.1:5500/aula15/layout/sobre.html" id="sobre">SOBRE</a>
        <a href="http://127.0.0.1:5500/aula15/layout/catalogo.html" id="catalogo">CATÁLOGO</a>
        <a href="http://127.0.0.1:5500/aula15/layout/erro.html" id="ajuda">AJUDA</a>
        <a href="http://127.0.0.1:5500/aula15/layout/login.html" id="login">LOGIN</a>
        <img src="img/lupa de pesquisa01.png" height="30px">
        </div>
        <hr>
        <div class="circulo"> </div>
    <div class="triangulo"></div>
        <div>
            <h2 id="procurahoje">O que você procura hoje?</h2>
        </div>
        <div class="imagem">
            <div id="divbolsa1">
            <img id="img1" src="img/bolsa1.png">
            <a id="promo" href="http://127.0.0.1:5500/aula15/layout/promo%C3%A7%C3%B5es.html"><h1>Promoções<br> do dia</h1></a>
            </div>
            <div id="divbolsa2">
            <img id="img2" src="img/bolsa2.jfif">
            <h1>Novos e tendência</h1>
            </div>
        </div>
            <div class="imagem1">
            <h1 id="tex1">Mais vendidos</h1>
            <h1 id="tex2">mochilas e bolsas personalizadas</h1>
            </div>
            <div class="rodape">
                <p>telefone</p>
                <p>segurança</p>
                <p>avalie-nos</p>
                <p>fale conosco</p>
            </div>
            <hr>
</body>
</html>