<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
        <div class="inicio">
        <input type="text" id="buscar" placeholder="www.personabags.com.br">
        <img id="pc" src="img/pc.png">
        <!--meno canto superior direito da tela-->
        <div class="dropdown">   
            <button id="dropdtn"><img src="img/barra .png"></button>
            <div class="dropdown-conteudo">
                <a href="http://127.0.0.1:5500/aula15/layout/meus%20pedidos.html">Meus pedidos</a>
                <a href="http://127.0.0.1:5500/aula15/layout/carrinho.html">Carrinho</a>
                <a href="#">Minha conta</a>
            </div>
            </div>
    </div>
    <p id="versao">versão</p>
    <div class="title">
        <a href="http://127.0.0.1:5500/aula15/layout/index.html"><img src="img/logo.png"height="100px"></a>
        <a id="PersonaBags" href="http://127.0.0.1:5500/aula15/layout/index.html"><h1><b>Persona Bags</b></h1></a>
    </div>
        <div id="paragrafo">
        <p>Carregue sua personalidade com você.</p>
        </div>
        <hr>
        <div class="link">
        <a href="http://127.0.0.1:5500/aula15/layout/sobre.html" id="sobre">SOBRE</a>
        <a href="http://127.0.0.1:5500/aula15/layout/catalogo.html" id="catalogo">CATÁLOGO</a>
        <a href="http://127.0.0.1:5500/aula15/layout/erro.html" id="ajuda">AJUDA</a>
        <a href="#" id="login">LOGIN</a>
        <img src="img/lupa de pesquisa01.png" height="30px">
        </div>
        <div class="login">
            <h1 id="login1">Login</h1>
            <p id="email"><b>E-mail ou CPF</b></p>
            <input type="text" id="nome" name="iname">
            <br>
            <p id="senha1"><b>Senha</b></p>
            <input type="password" id="senha" name="Senha">
            <p id="naopossui"><b>Não possui uma conta?</b></p>
            <p id="cadastro"><b>cadastre-se</b></p>
            <div class="imagens">
                <img id="google" src="img/google.jfif">
                <img id="googlemais" src="img/google mais.png">
                <img id="emailimg" src="img/email.png">
            </div>
        <div id="ajuda1">
        <p><b>Ajuda</b></p>
        </div>
        </div>
        <div class="circulo"> </div>
    <div class="triangulo"></div>

        <div class="rodape">
            <p>telefone</p>
            <p>segurança</p>
            <p>avalie-nos</p>
            <p>fale conosco</p>
        </div>
        <hr>
        
</body>
</html>