<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/meus pedidos.css">
</head>
<body>
    <div class="inicio">
        <input type="text" id="buscar" placeholder="www.personabags.com.br">
        <img id="pc" src="img/pc.png">
        <!--meno canto superior direito da tela-->
        <div class="dropdown">   
            <button id="dropdtn"><img src="img/barra .png"></button>
            <div class="dropdown-conteudo">
                <a href="http://127.0.0.1:5500/aula15/layout/meus%20pedidos.html">Meus pedidos</a>
                <a href="http://127.0.0.1:5500/aula15/layout/carrinho.html">Carrinho</a>
                <a href="#">Minha conta</a>
            </div>
            </div>
    </div>
    <p id="versao">versão</p>
    <div class="title">
        <a href="http://127.0.0.1:5500/aula15/layout/index.html"><img src="img/logo.png"height="100px"></a>
        <a id="PersonaBags" href="http://127.0.0.1:5500/aula15/layout/index.html"><h1><b>Persona Bags</b></h1></a>
    </div>
        <div id="paragrafo">
        <p>Carregue sua personalidade com você.</p>
        </div>
        <div class="link">
        <a href="http://127.0.0.1:5500/aula15/layout/sobre.html" id="sobre">SOBRE</a>
        <a href="http://127.0.0.1:5500/aula15/layout/catalogo.html" id="catalogo">CATÁLOGO</a>
        <a href="http://127.0.0.1:5500/aula15/layout/erro.html" id="ajuda">AJUDA</a>
        <a href="http://127.0.0.1:5500/aula15/layout/login.html" id="login">LOGIN</a>
        <img src="img/lupa de pesquisa01.png" height="30px">
        </div>
        <hr>
        <div class="meuspedidos">
            <h1 id="meuspedidos">Meus pedidos</h1>
        </div>
        <h2 id="formasdepagamento">Formas de pagamento</h2>
        <h2 id="produto">Produto</h2>
        <divi class="imagem">
            <img id="img" src="img/bolsa3.jfif">
            <p id="preço">R$ 25,00</p>
            <img id="cartão" src="img/cartao img.png">
            <button id="buuton">Alterar dados</button>
        </div>
        <div class="comprar">
            <button id="confirmar">Comfirmar Compra</button>
        </div>
        <br><br>
        <div class="rodape">
            <p>telefone</p>
            <p>segurança</p>
            <p>avalie-nos</p>
            <p>fale conosco</p>
        </div>
        <hr>
</body>
</html>