@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');
body {
    background: rgb(193,0,255);
background: linear-gradient(90deg, rgba(193,0,255,1) 15%, rgba(227,125,255,1) 58%);
font-family: milonga;
}
.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#paragrafo {
    margin-top: -45px;
    margin-left: 122px;
    color: white;
}
.link {
    display: flex;
    justify-content: space-evenly;
}
#sobre {
    background-color: rgb(14, 191, 255);
    border:10px solid rgb(14, 191, 255);
    border-radius: 10px;
    text-decoration: none;
}
#catalogo {
    background-color: rgb(14, 191, 255);
    border:10px solid rgb(14, 191, 255);
    border-radius: 10px;
    text-decoration: none;
}
#ajuda {
    background-color: rgb(14, 191, 255);
    border:10px solid rgb(14, 191, 255);
    border-radius: 10px;
    text-decoration: none;
}
#login {
    background-color: rgb(14, 191, 255);
    border:10px solid rgb(14, 191, 255);
    border-radius: 10px;
}
.rodape {
    display: flex;
    justify-content: space-around;
}
.inicio {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
}
/*tabela do canto direito da telas*/

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-conteudo {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 150px;
}
.dropdown-conteudo a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-conteudo a:hover {
    background-color: #d6d6d6;
}
.dropdown:hover .dropdown-conteudo {
    display: block;
}
#buscar {
    padding: 10px 350px;
}
#pc {
    height: 50px;
}
#versao {
    margin-left: 1108px;
    margin-top: -16px;
}
.catalogo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 1390px;
}
.cata {
    background-color: rgb(225, 225, 225);
    border:10px solid rgb(225, 225, 225);
    border-radius: 10px;
    text-decoration: none;
    color: black;
}
.imagens01 {
    margin-top: -400px;
    display: flex;
    justify-content: space-evenly;
    height: 200px;
}
.imagens02 {
    margin-top: 50px;
    margin-right: 65px;
    display: flex;
    justify-content: space-evenly;
    height: 200px;
}
#bolsa01 {
    border-radius: 20px;
}
#bolsa02 {
    border-radius: 20px;
}
#bolsa03 {
    border-radius: 20px;
}
#bolsa04 {
    border-radius: 20px;
}
#bolsa05 {
    border-radius: 20px;
}
#bolsa06 {
    border-radius: 20px;
}
.circulo {
    position: absolute;
    margin-top: -480px;
    margin-left: 130px;
    width: 500px;
    height: 500px;
    background-image: linear-gradient(rgb(0,157,255),hs1(309, 60%, 66%));
    border-radius: 50%;
    opacity: 20%;
    background-color: rgb(0, 168, 224);
}
.circulo1 {
    position: absolute;
    margin-top: -700px;
    margin-left: 1100px;
    width: 500px;
    height: 500px;
    background-image: linear-gradient(rgb(0,157,255),hs1(309, 60%, 66%));
    border-radius: 50%;
    opacity: 20%;
    background-color: rgb(0, 168, 224);
}

#p1 {
    margin-top: -245px;
    margin-left: 285px;
    background-color: antiquewhite;
    margin-right: 1150px;
    border: solid antiquewhite;
    border-radius: 5px;

}
#p2 {
    margin-top: -65px;
    margin-left: 710px;
    background-color: antiquewhite;
    margin-right: 720px;
    border: solid antiquewhite;
    border-radius: 5px;
}
#p3 {
    margin-top: -60px;
    margin-left: 1145px;
    background-color: antiquewhite;
    margin-right: 290px;
    border: solid antiquewhite;
    border-radius: 5px;
}
#p4 {
    margin-top: 210px;
    margin-left: 280px;
    background-color: antiquewhite;
    margin-right: 1150px;
    border: solid antiquewhite;
    border-radius: 5px;
}
#p5 {
    margin-top: -60px;
    margin-left: 710px;
    background-color: antiquewhite;
    margin-right: 720px;
    border: solid antiquewhite;
    border-radius: 5px;
}
#p6 {
    margin-top: -65px;
    margin-left: 1110px;
    background-color: antiquewhite;
    margin-right: 320px;
    border: solid antiquewhite;
    border-radius: 5px;
}
.rodape {
    display: flex;
    justify-content: space-around;
}
#PersonaBags {
    text-decoration: none;
    color: black;
}