@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');
body {
    background: rgb(193,0,255);
background: linear-gradient(90deg, rgba(193,0,255,1) 15%, rgba(227,125,255,1) 58%);
font-family: milonga;
}
.circulo {
    position: absolute;
    margin-top: 330px;
    margin-left: 1230px;
    width: 150px;
    height: 150px;
    background-image: linear-gradient(rgb(0,157,255),hs1(309, 60%, 66%));
    border-radius: 50%;
    opacity: 70%;
    background-color: rgb(0, 168, 224);
}
.quadrado {
    position: absolute;
    margin-top: 270px;
    margin-left: 1170px;
    width: 150px;
    height: 150px;
    background-image: linear-gradient(rgb(0,157,255),hs1(309, 60%, 66%));
    opacity: 60%;
    background-color: rgb(214, 255, 29);
}
.circulo1 {
    position: absolute;
    margin-top: 330px;
    margin-left: 230px;
    width: 150px;
    height: 150px;
    background-image: linear-gradient(rgb(0,157,255),hs1(309, 60%, 66%));
    border-radius: 50%;
    opacity: 70%;
    background-color: rgb(95, 122, 132);
}
.quadrado1 {
    position: absolute;
    margin-top: 400px;
    margin-left: 100px;
    width: 150px;
    height: 150px;
    background-image: linear-gradient(rgb(0,157,255),hs1(309, 60%, 66%));
    opacity: 60%;
    background-color: rgb(234, 167, 132);
}
.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#paragrafo {
    margin-top: -45px;
    margin-left: 122px;
    color: white;
}
.link {
    display: flex;
    justify-content: space-evenly;
}
#sobre {
    background-color: rgb(14, 191, 255);
    border:10px solid rgb(14, 191, 255);
    border-radius: 10px;
    text-decoration: none;
}
#catalogo {
    background-color: rgb(14, 191, 255);
    border:10px solid rgb(14, 191, 255);
    border-radius: 10px;
    text-decoration: none;
}
#ajuda {
    background-color: rgb(14, 191, 255);
    border:10px solid rgb(14, 191, 255);
    border-radius: 10px;
    text-decoration: none;
}
#login {
    background-color: rgb(14, 191, 255);
    border:10px solid rgb(14, 191, 255);
    border-radius: 10px;
}
.rodape {
    display: flex;
    justify-content: space-around;
}
.inicio {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
}
/*tabela do canto direito da telas*/

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-conteudo {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 150px;
}
.dropdown-conteudo a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-conteudo a:hover {
    background-color: #d6d6d6;
}
.dropdown:hover .dropdown-conteudo {
    display: block;
}
#buscar {
    padding: 10px 350px;
}
#pc {
    height: 50px;
}
#versao {
    margin-left: 1108px;
    margin-top: -16px;
}
.text {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    margin-right: 450px;
    margin-left: 450px;
    padding: 40px 0px;
}
.rodape {
    display: flex;
    justify-content: space-around;
}
#PersonaBags {
    text-decoration: none;
    color: black;
}