body {
    background-color: orange;
}
.carrinho {
    margin-left: 10px;
    margin-top: 80px;
}
.imformacoes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#bemvindo {
    margin-top: -50px;
    margin-left: 670px;
    margin-right: 690px;
}
.imformacoes {
    border: double burlywood;
    background-color: burlywood;
    padding: 20px 20px;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;
}
#nome {
    margin-left: 70px;
    color: black;
}
#gmail {
    margin-left: 75px;
    color: black;
}
#senha {
    margin-right: 0px;
    color: black;
}
.botao {
    margin-left: 670px;
    margin-top: 20px;
}
#cor {
    background-color: rgb(248, 248, 248);
    border-radius: 15px;
    padding: 0px 30px;
}
img:hover{
    border: 5px solid black;
}