body {
    background-image: url("https://www.sesirs.org.br/sites/default/files/styles/2x1_lg/public/paragraphs--image-top/escola_sesi_de_ensino_medio_heitor_jose_muller_em_montenegro.jpg?itok=hB_wEhyO");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: red;
    display: flex;
    align-items: center;
}
.logo {
    margin-left: 10%;
}
nav {
    margin-left: 54%;
}
#titleimg {
    height: 100px;
}
#login {
    text-decoration: none;
    color: black;
}
/*começo do menu*/
#seta-menu {
    margin-top: -30px;
    height: 80px;
    width: 80px;
}
.texts-menu {
    position: fixed;
}
.botoes {
    position: fixed;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    margin-top: 130px;
    margin-left: -130px;
    width: 200px;
    height: 350px;
    background-color: #ff3131;
    -webkit-transition: width 1s, height 1s, background-color 1s, -webkit-transform 1s, margin-left 1s;
    transition: width 1s, height 1s, background-color 1s, transform 1s, margin-left 1s;
}
.botoes:hover {
    background-color: #ffa5a5;
    margin-left: 0px;
    width: 500px;
    height: 500px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.botoescor {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border:10px solid rgb(255, 255, 255);
    border-radius: 15px;
    margin-top: 5%;
    text-decoration: none;
    color: black;
}
#menu {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.botoescor:hover {
    transform: scale(1.10);
    transition-duration: 500ms;
}
#calendariotitle {
    display: flex;
    justify-content: center;
    color: white;
}
/*fim do menu*/
table {
    width:100% 
}
			
table, th, td, caption {
	border:1px solid #c0c0c0;
	border-collapse:collapse;padding:5px
}
.main {
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgba(255, 255, 255, 0.771);
}
td {
    font-size: 20px;
}
.participar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.586);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
    border-radius: 10px;
    color: white;
}
#cliqueaqui {
    color: blue;
}
.rodape {
    display: flex;
    justify-content: space-around;
    background-color: #e50000;
margin-top: 9%;
    padding: 50px 0px;
}
.textrodape {
    text-decoration: none;
    color: black;
    font-size: 20px;
    -webkit-transition: color 1s;
    transition: color 1s;
}
.textrodape:hover {
    color: white;
}